{% extends "base.html" %}

{% block content %}
	<h2 class="sub-header">Products</h2>
  <div class="table-responsive">
    <table class="table table-striped">
    	<thead>
        <tr>
          <th>Id</th>
          <th> Product Name</th>
          <th> Category</th>
          <th>Price</th>
        </tr>
    	</thead>
      {% for object in object_list %}
        <form class='add-form' method='GET' action="{% url 'cart' %}">
        	<tbody>
          	<tr>
          		<td>{{ object.id }}</td>
          		<td><a href='{{ object.get_absolute_url }}'>{{ object.title }}</a></td>
              <td>{{ object.categories }}</td>
          		<td>{{ object.price }}</td>
              <td><a href='#'>Delete</a></td>
              <!-- <select name='item' class='form-control item_select'> -->
              <td><input id="submit-btn" type='submit' value='Add' class='btn btn-default submit-btn'/><input style="display: none" name="item" value="{{ object.id }}"/><input class='form-control' type='number' name="qty" value='1'/></td>
              <!-- <td><a href='{% url "cart" %}'></a>Add</td> -->
              <!-- </select>   -->
          	</tr>
          </tbody>
        </form>	 
      {% endfor %}  	             	
    </table>
  </div>      			
{% endblock %}
<!--   {% block jquery %}
<script>

    $(".submit-btn").click(function(event){
      event.preventDefault();
      // var formData = $(this).find('.add-form').serialize();

      var pro_id = $(this).closest('tr').find('.pro_id').text();
      var pro_name = $(this).closest('tr').find('.pro_name').text();

      console.log(pro_name);
      // console.log($(this).find('.add-form'));

    })

</script>
  {% endblock %} -->
